.signup-popup {
    background-color: white;
    min-height: 690px;
    max-height: 740px;
    border-radius: 20px;
}

.modal {
    padding-left: 0;
}

.modal-content {
    width: 100%;
}

.signup-popup .signup-header .text-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #000;
    font-size: 27px;
    font-weight: 600;
    line-height: normal;
}

.signup-popup .text-wrapper #signup-popup-close {
    position: absolute;
    left: 85%;
    top: 4%;
}

.signup-popup .signup-form #form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    gap: 25px;
}

.signup-popup .signup-form .grp1,
.signup-popup .signup-form .grp2,
.signup-popup .signup-form .grp3,
.signup-popup .signup-form .grp4,
.signup-popup .signup-form .grp5 {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 40px;
    gap: 10px;
    width: 100%;
}

.signup-popup .signup-form .grp1 #lb,
.signup-popup .signup-form .grp2 #lb,
.signup-popup .signup-form .grp3 #lb,
.signup-popup .signup-form .grp4 #lb,
.signup-popup .signup-form .grp5 #lb {
    color: #181818;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    left: 5%;
}

.signup-popup .signup-form .grp1 input,
.signup-popup .signup-form .grp2 input,
.signup-popup .signup-form .grp3 input,
.signup-popup .signup-form .grp4 input,
.signup-popup .signup-form .grp5 input {
    width: 90%;
    height: 55px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(196, 196, 196, 0.00);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    text-indent: 5%;
    letter-spacing: 1px;
}

.signup-popup .signup-form .grp1 input::placeholder,
.signup-popup .signup-form .grp2 input::placeholder{
    transform: translate(0,-20%);
}

.signup-popup .signup-form .grp1 input:focus,
.signup-popup .signup-form .grp2 input:focus,
.signup-popup .signup-form .grp4 input:focus,
.signup-popup .signup-form .grp5 input:focus{
    outline: none;
}

.signup-popup .signup-form .grp3 .otp-box {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.signup-popup .signup-form .grp3 input {
    width: 20%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(196, 196, 196, 0.00);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    caret-color: transparent;
}

.grp3 input:focus {
    outline-color: #EF6C1B;
}

.signup-popup .signup-form .grp3 input::-webkit-inner-spin-button,
.signup-popup .signup-form .grp3 input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.signup-popup .signup-form .grp1 input::placeholder,
.signup-popup .signup-form .grp2 input::placeholder {
    position: absolute;
    width: 200px;
    font-size: 15px;
    left: 3%;
    padding-top: 3px;
    font-weight: normal;
}

.signup-popup .signup-form .grp2 .grp2-child {
    position: relative;

    button, p {
        position: absolute;
        left: 69%;
        height: 35px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EF6C1B;
        border: none;
        border-radius: 12px;
        color: white;
        top: 50%;
        transform: translate(0, -50%);
        box-shadow: 0px 0px 10px 2px #ef6c1b;
        transition: all 0.5s ease;
    }
    button:hover{
        box-shadow: 0px 0px 10px 5px #ef6c1b;
        transition: all 0.5s ease;
    }
}



.signup-popup .signup-form .grp4,
.signup-popup .signup-form .grp5 {
    
}

.signup-footer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%
}

.signup-footer #link_to_dashboard #reg_btn{
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #EF6C1B;
    border-radius: 5px;
}

.signup-footer #link_to_dashboard {
    width: 50%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    border: none;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 25%));
}
.wrongalert{
    text-align: end;
    padding-right: 70px;
    color: rgba(255, 0, 0, 0.942);
    font-size: 18px;
}